<style>
  section{ margin-top: 10%; } h1{ font-size: 7rem; font-weight: 700; } .notf h3{
  color: #101d42; font-size: 2rem; font-weight: 700; padding: 0.5rem;
  background-color: #89d2dc; border-radius: 15px;}

</style>

<section class="container">

  <div class="d-flex justify-content-center notf"><h3>
      PAGE N<i class="fa-solid fa-ban"></i>T FOUND
    </h3></div>
  <div class="d-flex justify-content-center"><h1>404 :/</h1></div>
</section>