/* Colors
0d1317
101d42
232ed1
6564db
89d2dc
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

body {
  background-color: #101d42;
  color: #b100c9;
  font-family: "Comfortaa", sans-serif;
}
.navbar-toggler {
  border-color: #b100c9;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(177, 0, 201, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
  font-size: 1.2rem;
  color: #89d2dc;
}
.nav-link:hover {
  color: #b100c9;
}
.current {
  border-bottom: 1px solid #b100c9;
}
#nav-img {
  vertical-align: middle;
  font-size: 2rem;
  color: #b100c9;
}
#nav-icon p {
  color: #b100c9;
  font-weight: 700;
  font-size: 1.7rem;
  display: inline;
  vertical-align: middle;
}
#card-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled {
  color: #8989dc !important;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
input:not([type="checkbox"])::placeholder {
  color: #aaa6a6;
  font-size: 1.2rem;
}
input:not([type="checkbox"]) {
  font-family: sans-serif;
  color: #ffffff;
  outline: none;
  width: 100%;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-left: 10px;
}
.register-label {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
#newUser-form input:not([type="checkbox"]) {
  height: 2.5rem;
  font-size: 1.2rem;
}

#url-input {
  height: 3rem;
}
#url-input:focus {
  background-color: rgba(37, 37, 37, 0.5);
}
.card-form h3 {
  font-weight: 700;
}
.card-form {
  text-align: left;
  background-color: #0d1317;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(13, 19, 23, 0.5);
  max-width: 500px;
  width: 100%;
}
.submit-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
#submit-btn {
  background-color: transparent;
  border: 1px solid #b100c9;
  color: #b100c9;
  font-size: 1.5rem;
  font-weight: 600;
}

#newLink-form #submit-btn {
  width: 7rem;
}
#newUser-form #submit-btn {
  width: 10rem;
}
#submit-btn:hover {
  color: #0d1317;
  background-color: #b100c9;
}
.my-switch {
  background-color: transparent;
  color: #b100c9;
  border-color: #b100c9;
  background-image: url(../img/circle-solid.svg) !important;
  background-size: 10px 10px;
}
.my-switch::after {
  background-color: green;
  color: #b100c9;
}
.my-switch:checked {
  border-color: #b100c9;
  background-color: transparent;
}
.password-error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* Nuevos modal */
.modal-content {
  background-color: #0d1317;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-title {
  font-size: 1.7rem !important;
  font-weight: 700;
}
.modal-body {
  text-align: center;
  color: #89d2dc;
}
button {
  background-color: transparent;
  border: none;
}
.modal-body p {
  display: inline;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.modal-body i {
  font-size: 1.5rem;
  color: #89d2dc;
  border: 1px solid #89d2dc;
  padding: 0.4rem;
  border-radius: 5px;
  transition: backgroun-color 1s ease, color 0.5s ease;
}
.modal-body i:hover {
  color: #0d1317;
  background-color: #89d2dc;
}
.modal-footer button,
.modal-btn {
  font-weight: 600;
  color: #89d2dc;
  background-color: transparent;
  border: 1px solid #89d2dc;
}
.modal-footer button:hover,
.modal-btn:hover {
  color: #0d1317;
  background-color: #89d2dc;
}

/* dashboard */
#logout-btn {
  background-color: #89d2dc;
  font-size: 1rem;
  font-weight: 700;
  color: #101d42;
  border-radius: 13px;
}
#logout-btn:hover {
  border: 1px solid #89d2dc;
  color: #89d2dc;
  background-color: transparent;
}
.table {
  width: 100%;
  table-layout: auto;
}
th {
  background-color: #0d1317 !important;
  height: 4rem;
  color: #b100c9 !important;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  word-wrap: break-word !important;
  /* width: 100%; */
}
.td-views,
.td-copy,
.td-delete,
.td-n {
  text-align: center;
}
.th-none {
  display: contents;
}
@media (max-width: 575px) {
  .th-none {
    display: none;
  }
  #copy-none {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23b100c9" d="M208 0L332.1 0c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9L448 336c0 26.5-21.5 48-48 48l-192 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48zM48 128l80 0 0 64-64 0 0 256 192 0 0-32 64 0 0 48c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 176c0-26.5 21.5-48 48-48z"/></svg>');
    background-size: 1.2rem; /* Ajusta el tamaño del SVG dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  #delete-none {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23b100c9" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>');
    background-size: 1.2rem; /* Ajusta el tamaño del SVG dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
}
/* {
  display: none;
} */

td {
  /* width: 100%; */
  /* background-color: rgba(13, 19, 23, 0.8) !important; */
  background-color: transparent !important;
  word-wrap: break-word !important;
  vertical-align: middle;
}
.td-original a,
.td-short a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #101d42;
  word-break: break-all;
  /* word-wrap: break-word; */
  white-space: normal;
  /* Asegúrate de que no haya margen excesivo */
  /* display: inline; */
}
td button i {
  font-size: 1.2rem;
  color: #0d1317;
}
tr {
  background-color: #6564db;
  transition: background-color 0.3s ease;
}
tr:hover {
  background-color: #89d2dc;
}
