/* Colors
0d1317
101d42
232ed1
6564db
89d2dc
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

body {
  background-color: #101d42;
  color: #b100c9;
  font-family: "Comfortaa", sans-serif;
}
.navbar-toggler {
  border-color: #b100c9;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(177, 0, 201, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
  font-size: 1.2rem;
  color: #89d2dc;
}
.nav-link:hover {
  color: #b100c9;
}
.current {
  border-bottom: 1px solid #b100c9;
}
#nav-img {
  vertical-align: middle;
  font-size: 2rem;
  color: #b100c9;
}
#nav-icon p {
  color: #b100c9;
  font-weight: 700;
  font-size: 1.7rem;
  display: inline;
  vertical-align: middle;
}
#card-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled {
  color: #8989dc !important;
}
h3 {
  text-align: center;
}
input:not([type="checkbox"])::placeholder {
  color: #aaa6a6;
  font-size: 1.2rem;
}
input:not([type="checkbox"]) {
  font-family: sans-serif;
  color: #ffffff;
  outline: none;
  width: 100%;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-left: 10px;
}
.register-label {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
#newUser-form input:not([type="checkbox"]),
#login-form input:not([type="checkbox"]) {
  height: 2.5rem;
  font-size: 1.2rem;
}

#url-input {
  height: 3rem;
}
#url-input:focus {
  background-color: rgba(37, 37, 37, 0.5);
}
.card-form h3 {
  font-weight: 700;
}
.card-form {
  text-align: left;
  background-color: #0d1317;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(13, 19, 23, 0.5);
  max-width: 500px;
  width: 100%;
}
.submit-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
#submit-btn {
  background-color: transparent;
  border: 1px solid #b100c9;
  color: #b100c9;
  font-size: 1.5rem;
  font-weight: 600;
}

#newLink-form #submit-btn {
  width: 7rem;
}
#newUser-form #submit-btn,
#login-form #submit-btn {
  width: 10rem;
}
#submit-btn:hover {
  color: #0d1317;
  background-color: #b100c9;
}
.my-switch {
  background-color: transparent;
  color: #b100c9;
  border-color: #b100c9;
  background-image: url(../img/circle-solid.svg) !important;
  background-size: 10px 10px;
}
.my-switch::after {
  background-color: green;
  color: #b100c9;
}
.my-switch:checked {
  border-color: #b100c9;
  background-color: transparent;
}
.password-error,
.user-error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* Nuevos modal */
.modal-content {
  background-color: #0d1317;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-title {
  font-size: 1.7rem !important;
  font-weight: 700;
}
.modal-body {
  text-align: center;
  color: #89d2dc;
}
button {
  background-color: transparent;
  border: none;
}
.modal-body p {
  display: inline;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.modal-body i {
  font-size: 1.5rem;
  color: #89d2dc;
  border: 1px solid #89d2dc;
  padding: 0.4rem;
  border-radius: 5px;
  transition: backgroun-color 1s ease, color 0.5s ease;
}
.modal-body i:hover {
  color: #0d1317;
  background-color: #89d2dc;
}
.modal-footer button,
.modal-btn {
  font-weight: 600;
  color: #89d2dc;
  background-color: transparent;
  border: 1px solid #89d2dc;
}
.modal-footer button:hover,
.modal-btn:hover {
  color: #0d1317;
  background-color: #89d2dc;
}
hr {
  border-top: 2px solid #89d2dc;
}
footer {
  padding: 1rem;
  text-align: center;
  height: max-content;
  color: #89d2dc;
  margin: 0;
}
#footer-icon i {
  font-size: 2rem;
  color: #89d2dc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
  padding: 10px;
  width: 100%;
}
